$lightBlue: #E6E2F0;
$blueWhite: #F5F5F5;
$blue: #ADD4FF;
$lightGrey: #707070;
$lightPink: #EBD9D9;
$lightWhite: #F0F0F0;
$blackColor: #000000;
$whiteColor: #FFFFFF;
$lightBlueColor: #B5D0D8;


$raleWayFont: 'Raleway';
