@import "./styles/variables";
@import "./styles/gridCard";
@import "./styles/navBar";
@import "./styles/mainCard";
@import "./styles/cardPage";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}